*.iml
.gradle

application-key.yml
.factorypath

/local.properties
.DS_Store

/build
/captures
.externalNativeBuild
.cxx
local.properties
info/

.metadata/
.idea

.classpath
.project
.springBeans
.settings

target/
out/
/classes