<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssh.sustain.mapper.UserTestMapper">

    <insert id="create" parameterType="com.ssh.sustain.domain.UserTest">
        INSERT INTO USER_TEST (NAME, PICTURE, EMAIL, ROLE)
        VALUES (#{name}, #{picture}, #{email}, #{role})
    </insert>

    <select id="read" resultType="com.ssh.sustain.domain.UserTest">
        SELECT *
        FROM USER_TEST
        WHERE ID > 0;
    </select>

    <select id="findByEmail" resultType="com.ssh.sustain.domain.UserTest">
        SELECT *
        FROM USER_TEST
        WHERE EMAIL = #{email}
    </select>

    <update id="update">
        UPDATE USER_TEST
        SET PICTURE = #{picture},
            ROLE    = #{role}
        WHERE EMAIL = #{email}
    </update>

    <update id="updatePicture">
        UPDATE USER_TEST
        SET PICTURE = #{picture}
        WHERE EMAIL = #{email}
    </update>

    <update id="updateRole">
        UPDATE USER_TEST
        SET ROLE = #{role}
        WHERE EMAIL = #{email}
    </update>

    <delete id="delete">
        DELETE
        FROM USER_TEST
        WHERE EMAIL = #{email}
    </delete>

</mapper>